/* 
.grid-column:[grid Column start][grid Column end]
.grid-row:[grid row start][grid row end]
.grid-area:[Grid row start][grid column start][grid row end][grid column end ] */



*{
    box-sizing: border-box;
}

.container{
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px 10px;
    
 
}
.container div{
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
 div:hover{
    color: blue;
    background-color: yellow;
 }
